<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.oes.mapper.ExamRevokeAuditMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam_revoke_audit(exam_code, admin_id, admin_name, reason, detail, created_at)
        VALUES (#{examCode}, #{adminId}, #{adminName}, #{reason}, #{detail}, #{createdAt})
    </insert>
</mapper>
