<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.oes.mapper.JudgeQuestionMapper">

    <select id="findByIdAndType" resultType="com.test.oes.entity.JudgeQuestion">
        select *
        from judge_question
        where questionId in (
            select questionId from paper_manage where questionType = 3 and paperId = #{paperId}
        )
    </select>

    <select id="findAll" resultType="com.test.oes.entity.JudgeQuestion">
        select * from judge_question
    </select>

    <select id="findOnlyQuestionId" resultType="com.test.oes.entity.JudgeQuestion">
        select questionId from judge_question order by questionId desc limit 1
    </select>

    <insert id="add">
        insert into judge_question(subject, question, answer, analysis, level, section)
        values (#{subject}, #{question}, #{answer}, #{analysis}, #{level}, #{section})
    </insert>

    <select id="findIdsBySubject" resultType="int">
        select questionId from judge_question where subject = #{subject} order by questionId asc
    </select>

    <update id="edit">
        update judge_question
        set subject = #{subject},
            question = #{question},
            answer = #{answer},
            section = #{section},
            analysis = #{analysis},
            level = #{level}
        where questionId = #{questionId}
    </update>

    <select id="findQuestionBySubject" resultType="com.test.oes.entity.JudgeQuestion">
        select * from judge_question where subject = #{subject}
    </select>

    <select id="findByQuestionId" resultType="com.test.oes.entity.JudgeQuestion">
        select * from judge_question where questionId = #{questionId}
    </select>

    <select id="findByQuestionIds" resultType="com.test.oes.entity.JudgeQuestion">
        select * from judge_question where questionId in
        <foreach collection="questionIds" item="questionId" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </select>

    <delete id="deleteByQuestionId">
        delete from judge_question where questionId = #{questionId}
    </delete>
</mapper>
